/* A Being can be clicked to visit their public 8Bit Web page. */
#players .being {
    pointer-events: auto;
    cursor: pointer;
}

#players .being:focus-visible {
    outline: 3px solid #caffc1;
    outline-offset: 5px;
}
